*{
    box-sizing:border-box;
}
main{
    display: flex;
}
section{
    border: 1px solid black;
    flex: 1;
}
section#appetizers{
    flex: 2;
}
section#appetizers, 
section#mains, 
section#desserts{
    background-color:rgba(0, 128, 0, 0.694);}
    /*section:nth-of-type(odd)*/